[Desktop Entry]
Type=Application
Exec=/usr/bin/xmodmap .Xmodmap
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Map Keys
Name=Map Keys
Comment[en_US]=
Comment=
